<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR CONTACT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p>Phone: 905-995-8985</p>
          <p>E-mail: Jkennedy1x@gmail.com</p>
          <p>Address: 267 Kaiser Cres, Oshawa ON</p>
        </div>
      </div>
    </div>
<% include ../partials/footer.ejs %>
